#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: darkslategray;
  min-width: 85vw;
  min-height: 80vh;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}

div,
p,
h1,
h2,
h3 {
  color: white;
}

.card {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.statistics {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

.feedback-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-table {
  margin: auto;
  text-align: left;
}
